.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 1.11rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: .27rem;

  &--interval--large {
    margin-bottom: 1.66rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.11rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: .16rem solid transparent;
  border-radius: .22rem;
  padding: 1rem .55rem;
  font-family: "Open Sans";
  color: #000;
  font-size: .77rem;

  &--textarea {
    height: 8.61rem;
    resize: none;
  }

  &:focus {
    outline: none;
    border-color: #DEE2BD;
  }
}

.form__title {
  user-select: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .83rem;

  &--elem--last {
    margin-bottom: 0;
  }
}

.form__btns--interval--large {
  margin-top: 2.5rem;
}