.member {
  width: rem(220px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }
}

.member__avatar {
  width: rem(220px);
  height: rem(290px);
  object-fit: cover;
  margin-bottom: rem(20px);
}

.member__link {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: rem(10px);

  &--active {
    .member__link-icon {
      transform: rotate(180deg);
    }

    ~ .member__content {
      height: 100%;
    }
  }
}

.member__link-name {
  font-size: rem(21px);
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  margin-right: rem(5px);
}

.member__link-icon {
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid #365A49;
}

.member__content {
  overflow: hidden;
  height: 0;
  transition: .5s;
}

.member__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.member__position {
  margin-bottom: rem(5px);
}

.member__role {
  font-weight: 300;
}