.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0 !important;
  }
}

.modal__container {
  background-color: #fff;
  padding: rem(45px) rem(65px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: rem(40px);
  color: #000;
}

.input-error {
  border-color: red;
  position: relative;

  &:after {
    content: '!';
    display: inline-block;
    align-items: center;
    line-height: 20px;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
}

.error-modal {
  color: red;
}