.player-section {
  position: relative;
  
  &:before {
    position: absolute;
    bottom: rem(-100px);
    right: 0;
    content: url("../img/bg/leaf-berry.png");
    z-index: 999;
  }

  &__container {
    height: 405px;
    width: 660px;
    margin: 0 auto;

    @include tablets {
      height: 352px;
      width: 594px;
    }

    @include phones {
      height: 233px;
      width: 394px;
    }
  }
}

.player__title {
  margin-bottom: rem(31px);

  @include tablets {
    margin-bottom: 40px;
  }
}