.contacts {
  font-size: rem(21px);

  @include phones {
    margin-bottom: rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone-number {
  color: $darkGreen;
  font-size: rem(21px);

  .phone-number__icon-elem {
    fill: $darkGreen;
  }
}