.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0 !important;
  }
}

.modal__container {
  background-color: #fff;
  padding: rem(45px) rem(65px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: rem(40px);
  color: #000;
}

.input-error {
  border-color: #ce3f3f;
  position: relative;
}

.error-modal {
  color: #ce3f3f;
}