.product__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include tablets {
    flex-direction: column;
  }
}

.product__col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include tablets {
    align-items: center;
  }
}

.product__col--img {
  width: 56%;
  padding-top: 60px;

  @include tablets {
    width: 55%;
    padding-top: 0;
  }

  @include phones {
    width: 85%;
  }
}

.product__col--contant {
  width: 42%;

  @include tablets {
    width: 68%;
  }

  @include phones {
    width: 100%;
    padding: 0 8%;
  }
}

.product__ingredients {
  @include tablets {
    display: none;
  }
}

.product__title {
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  line-height: 1.1;
  margin-bottom: 25px;
  text-transform: uppercase;

  @include tablets {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.product__desc {
  margin-bottom: 20px;

  @include tablets {
    text-align: center;
  }
}

.product__params {
  display: flex;
  margin-bottom: 20px;

  @include tablets {
    width: 100%;
    justify-content: center;
  }
}

.product__param {
  display: flex;
  flex-direction: column;
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }
}

.product__param-value {
  font-weight: 700;
  color: #000;
}

.product__last {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include tablets {
    width: 100%;
    justify-content: center;
  }
}

.product__last-cost {
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  color: #151515;
  margin-right: 4%;
}