.reviews__title {
  margin-bottom: 20px;

  @include tablets {
    margin-bottom: 35px;
  }
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s;

  &--active {
    position: static;
    opacity: 1;
    pointer-events: unset;
  }
}

.reviews__display {
  background: url("./img/bg/berry-grey.png") right top 15% no-repeat;
  background-color: #F8FAF9;
  padding: 50px 40px 40px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;

  @include tablets {
    padding: 60px 20px 25px;
    margin-bottom: 30px;
  }

  &:before {
    content: "";
    display: block;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translate(-50%);

    @include tablets {
      top: -43px;
    }
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items:center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 250px;
  height: 270px;

  @include tablets {
    width: 135px;
    height: 135px;
  }
}

.reviews-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  margin-left: 40px;
  margin-top: 20px;
  width: 51%;

  @include tablets {
    margin-left: 0;
    margin-top: 20px;
    width: 97%;
  }
}

.reviews__subtitle {
  font-size: 30px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 10px;
}

.reviews__text {
  line-height: 1.23;
  margin-bottom: 25px;
}

.reviews__author {
  font-weight: 500;
  color: #292929;
}