.socials__list {
  display: flex;
}

.socials__item {
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__link {
  font-size: 0;
}

.socials__link:hover {
  .socials__icon {
    fill: #292929;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #B3B3B3;
}